/* Generic stuff */

body {
    background: #ffffff;
    color: #333333;
    font-family: sans-serif;
    font-size: 0.75em;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
}

img.headerAuthenticated {
    width: 500px;
    height: 200px;
}

img.header {
    width: 100%;
}

p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

input.readonly {
    background-color: lightgrey;
}

/*span.error {*/
    /*color: red;*/
    /*font-size: 8pt;*/
/*}*/

div.errors {
    font-size: 8pt;
    background-color: #ffcccc;
    border: 2px solid darkred;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Generic Klant */
.klantId {
    font-size: 9pt;
}

.klantInformation {
    font-size: 8pt;
}

.klantInformationItem {
    font-size: 8pt;
    font-weight: bold;
}

/*Klantenlijst*/

.klantList h1 {
    font-size: 16pt;
}

table th.klantList {
    font-size: 10pt;
}

table.klantList {
    border: 1px solid darkred;
    background-color: #F3D392;
    font-size: 8pt;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table td.klantList {
    background-color: #F9F7F3;
    border: 1px dotted darkred;
    padding: 5px;
}


table td.klantListProfilePicture {
    width: 200px;
    height: 200px;
}

img.profilePicture {
    width: 200px;
    height: 200px;
}


/* Adres Lijst */
.klantAdresHeader {
    font-size: 12pt;
    font-weight: bold;
}

.adresList h1 {
    font-size: 16pt;
}

table th.adresList {
    font-size: 10pt;
}

table.adresList {
    border: 1px solid darkblue;
    background-color: #CCF3F6;
    font-size: 8pt;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

table td.adresList {
    background-color: #EEFFFF;
    border: 1px dotted darkblue;
    padding: 5px;
}

/*artikellijst*/
.artikelList{
	font-size: 16pt;
}
table th.artikelList {
    font-size: 10pt;
}

table.artikelList {
    border: 1px solid darkred;
    background-color: #F3D392;
    font-size: 8pt;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table td.artikelList {
    background-color: #F9F7F3;
    border: 1px dotted darkred;
}

.artikelNaam {
    font-size: 12pt;
}

.artikelPrijs {
    font-size: 9pt;
}

.verwachteLevertijd{
    font-size: 8pt;
}
.inAssortiment {
	font-size: 8pt;
}
.artikelInformation {
	font-size: 8pt;
}
table td.artikelListProductPicture {
	width: 200px;
	height: 200px;
}
img.productPicture {
	width: 200px;
	height: 200px;
}
